/*Universal Styles*/

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica;
    color: black;
}

img {
    width: 100%;
}

p {
    width: 100%;
}

h2, h3, h4 {
    color: rgb(9, 0, 140);
}

/*Header Section*/

header {
    height: 64px;
    position: fixed;
    background: white;
    width: 100%;
    margin: 0;
    z-index: 10;
}

header .image-container {
    display: inline-block;
    float: left;
    padding-left: 24px;
    padding: 12px;
}

header h1 {
    display: inline-block;
    float: left;
    line-height: 60px;
    color:rgb(9, 0, 140);
    font-family: Merriweather, serif;
}

#academy {
    font-weight: lighter;
    color: rgb(9, 0, 140);
    font-family: Merriweather, serif;
}

header ul {
    display: inline-block;
    float: right;
    padding-right: 24px;
}

header li {
    display: inline-block;
    padding: 10px 8px;
    margin-top: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    transition: background-color 0.25s, color 0.25s;
}

header li:hover {
    background-color: rgb(9, 0, 140);
    color: white;
}

/*Main Section Account for Header*/

.main-section {
    position: relative;
    top: 64px;
    width: 100%;
}

/*Learn Something Section*/

.learn-something {
    width: 100%;
    background-color:rgb(9, 0, 140);
}

.learn-something .image-container {
    width: 60%;
    padding: 0 24px;
    display: inline-block;
}

.learn-something img {
    width: 100%;
    padding: 32px 0;
}

.learn-something .right {
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 150px;
    padding-right: 32px;
}

.learn-something .content-container {
    width: 75%;
}

.learn-something h2, .learn-something h3 {
    color:rgb(169, 189, 214);
}

.learn-something h2 {
    font-size: 2.5em;
}

.learn-something h4 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    width: 75%;
    border-radius: 20px;
    transition: background-color 0.25s, color 0.25s;
}

.learn-something h4:hover {
    background-color: white;
    color: rgb(9, 0, 140);
}

.learn-something h2, .learn-something h3, .learn-something h4 {
    margin: 24px 0;
}

/*Practicing Section*/

.practicing {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(169, 189, 214);
}

.practicing h2 {
    margin-bottom: 24px;
    clear: both;
}

.practicing .left p, .thesis-exhibit .left p{
    margin-bottom: 32px;
}

.practicing .left {
    width: 60%;
    padding: 0 24px;
}

.horizontal-block .image-container {
    width: 30%;
    display: inline-block;
}

.practicing .left img {
    padding: 32px 0;
}
.horizontal-block .content-container {
    width: 60%;
    display: inline-block;
    position: relative;
    bottom: 40px;
}

.practicing .right, .thesis-exhibit .right {
    display: flex;
    width: 40%;
    flex-direction: column;
    padding-top: 32px;
}

.horizontal-block {
    width: 100%;
}

.practicing .right img, .thesis-exhibit .right img {
    padding: 16px;
}

.practicing .right p, .thesis-exhibit .right p {
    padding: 4px 0;
}

.practicing .right h3, .thesis-exhibit .right h3{
    padding-bottom: 4px;
}

/*Start Learning Section*/

.start-learning {
    background-color: rgb(9, 0, 140);
    
}

.start-learning h2 {
    text-align: center;
    padding: 32px 0 16px 0;;
}

.grid-container {
    margin: 0 72px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block-container {
    flex-basis: 300px;
    min-width: 200px;
    margin: 16px;
    background-color: white;
}

.block-container .content-container {
    padding: 16px 16px 24px 16px;
}

.block-container p {
    padding-top: 8px;
}

/*Thesis Exhibit Section */

.thesis-exhibit {
    background-color: rgb(169, 189, 214);
}

.thesis-exhibit .flexbox{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.thesis-exhibit h2 {
    width: 100%;
    text-align: center;
    padding: 32px 0;
}

.thesis-exhibit .left {
    width: 60%;
    padding: 0 24px;
}

.thesis-exhibit video {
    width: 100%;
    height: auto;
}

.thesis-exhibit .block-container img {
    width: 35%;
}

.thesis-exhibit h4 {
    margin-top: 24px;
    margin-bottom: 8px;
}